html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 200px;
}
header .logo-container {
  height: 150px;
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo-container img.logo {
  height: 70%;
}
header .header-nav {
  width: 900px;
  margin: 0 auto;
}
header .header-nav ul {
  list-style: none;
  display: flex;
  height: 50px;
  justify-content: center;
}
header .header-nav ul li {
  line-height: 50px;
  padding: 0 10px;
  margin: 0 5px;
}
header .header-nav ul li:nth-child(2) {
  background-color: #B2E5FC;
}

.main-container-home {
  background: url(/images/main-bkg.jpg?495cda396bfe9f137038166b61c40759) no-repeat;
  background-size: cover;
}
.main-container-home main {
  width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}
.main-container-home main .section h2 {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px 0 5px;
}
.main-container-home main .section .pasta-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 900px;
}
.main-container-home main .section .pasta-container .pasta-item {
  width: calc(33.33% - 10px);
  height: 150px;
  margin: 0 5px 35px;
}
.main-container-home main .section .pasta-container .pasta-item .pasta-img {
  width: 100%;
}

.main-container-product {
  background: #B8DAE5;
  padding: 50px 0;
  color: #224272;
}
.main-container-product h1 {
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
}
.main-container-product .img-container {
  text-align: center;
}
.main-container-product .img-container img.pasta-top {
  height: 300px;
}
.main-container-product .img-container img.pasta-bottom {
  height: 500px;
}
.main-container-product .description {
  width: 900px;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.9rem;
}

.footer-container {
  background: url("/public/img/footer-bkg.jpeg") no-repeat;
  background-size: cover;
}
.footer-container footer {
  width: 900px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  color: #6b788b;
  font-size: 0.9rem;
  height: 600px;
}
.footer-container footer .section-left {
  width: 40%;
}
.footer-container footer .section-left .contacts ul {
  list-style: none;
}
.footer-container footer .section-left .contacts ul li {
  padding: 2px 0;
}
.footer-container footer .section-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer-container footer .section-right h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
  padding-bottom: 15px;
}
.footer-container footer .section-right h3:nth-child(3) {
  padding-top: 15px;
}
.footer-container footer .section-right ul {
  list-style: none;
  width: 50%;
}
.footer-container footer .section-right ul li {
  padding: 5px 0;
}
